.card-icon-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.card-unfold:hover {
  /* margin-bottom: 10px; */
  /* margin-top: -20px; */
  transform: translate(0, -10px);
  transition: margin 0.5s;
}
