.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
} 

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.break-all {
    word-break: break-all;
}

.cursor-pointer {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}