.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.break-all {
  word-break: break-all;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.icon-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: rgb(var(--link-6));
  /* background-color:rgb(242, 243, 245); */
}

.icon-btn.arco-icon-delete:hover {
  color: rgb(245, 63, 63);
}

.icon-btn.arco-icon-close:hover {
  color: rgb(245, 63, 63);
  transform: rotate(90deg);
  transition: transform 0.5s;
}

.mb-8 {
  margin-bottom: 6px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.-mb-12 {
  margin-bottom: -12px;
}

.-mt-12 {
  margin-top: -12px;
}

.mb-20 {
  margin-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}
